* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 800px;
  height: 600px;
  background-color: beige;
  border: 2px black solid;
  margin: 10px;
  padding: 10px;
}
.upper {
  width: 280px;
  height: 50px;
  background-color: lawngreen;
  border: 2px green solid;
  position: relative;
  animation-name: uppermove;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-direction: alternate;
}
@keyframes uppermove {
  from {
    left: 0px;
  }
  to {
    left: 480px;
  }
}
.circle {
  width: 50px;
  height: 50px;
  background-color: crimson;
  border: 2px black solid;
  border-radius: 50%;
  position: relative;
  animation-name: circlemove;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-direction: alternate;
}
@keyframes circlemove {
  0% {
    left: 300px;
    top: 180px;
  }
  15% {
    left: 30px;
    top: 0px;
  }
  30% {
    left: 600px;
    top: 390px;
  }
  45% {
    left: 600px;
    top: 0px;
  }
  55% {
    left: 0px;
    top: 390px;
  }
  75% {
    left: 300px;
    top: 0px;
  }
  100% {
    left: 600px;
    top: 390px;
  }
}
.lower {
  width: 280px;
  height: 50px;
  background-color: lawngreen;
  border: 2px green solid;
  position: relative;
  animation-name: lowermove;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-direction: alternate-reverse;
}
@keyframes lowermove {
  from {
    left: 0px;
    top: 390px;
  }
  to {
    left: 480px;
    top: 390px;
  }
}
