* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 400px;
  height: 400px;
  background-color: aquamarine;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: all;
  transition-timing-function: linear;
  transition-duration: 1s;
  transition-delay: 0s;
}
.box:hover {
  /* transform: rotate(360deg); */

  /*transform: rotate(60deg);*/ /*for clock wise*/
  /* transform: rotate(-70deg); */ /*for anticlock wise*/

  /* transform: scale(2); */ /*for larger (2 times) of original */
  /* transform: scale(0.5); */ /*for smaller (1/2 times) of original*/

  /* transform: skew(20deg);  */ /* tilt */
  /* transform: skew(-40deg);  */ /* tilt opposite */

  /* transform: translate(+-x-dir,+-y-dir); */
  /* transform: translate(200px,300px); */
  /* transform: translate(0px,-250px); */

  /* for multiple transform  */
  /* transform: matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY()); */
  transform: matrix(1, 0.3, 0.2, 1, 0, 50);
}
p {
  font-size: 30px;
}
