.div1{
    border: solid black 3px;
    width: 800px;
}
p{
    padding: 10px;
}

#mp{
    height: 200px;
    width: 150px;
    float: left;
    border: solid red 1px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#bs{
    height: 200px;
    width: 150px;
    float: right;
    border: solid red 1px;
    margin-left: 10px;
    margin-bottom: 10px;
}