*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 800px;
    width: 800px;
    border: 1px black solid;
    background-color:palevioletred;
    padding: 10px;
    margin: 10px;
}
.box{
    height: 300px;
    width: 300px;
    border: 2px red solid;
    background-color:firebrick;
    padding: 10px;
    margin: 10px;
    animation-name: color-change;
    animation-delay: 5s;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction:normal;
}
@keyframes color-change{
    from{
        background-color: chartreuse;
    }
    to{
        background-color: dodgerblue;
    }
}